nav {
    top:-89px;
    position: absolute;
    left:0;
    right:0;
	margin:0px auto;
	max-width:2000px;
    width:90%;
	color:black; }
	
	@media screen and (max-width: 560px) {
		
		nav {
			max-width:4000px;
			width:108%;
			margin:9px auto;	
		}

		header{
			top:0px;
		}

		
	}


nav ul {
	list-style:none;
}

nav > ul {
	display:table;
	/*Quitamos el overflow hidden que estaba aqui*/
	width:100%;
	background:white;
	position:relative;
}

nav > ul li {
	display:table-cell;
}

/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
}

nav > ul > li > ul {
	display:block;
	position:absolute;
	background:white;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	/*-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

nav > ul li a {
	color:black;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	/*-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;*/
}

/*nav > ul > li > ul > li a:hover {
	background:rgb(204, 201, 201);
}*/

nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}

nav > ul > li > a:hover > span {
	top:0;
}

/*Colores*/
nav ul li a .primero {
	background:#0e5061;
}

nav ul li a .segundo {
	/*background:#5da5a2;*/
	background: palevioletred;
}

nav ul li a .tercero {
	/*background:#f25724;*/
	background:#0e5061;
}

nav ul li a .cuarto {
	background:#174459;
}

nav ul li a .quinto {
	background:#37a4d9;
}

nav ul li .segundo:hover {
	/*background:#5da5a2;*/
	background: palevioletred;
}

nav > ul > li > ul > li a:hover {
	background:rgb(204, 201, 201);
}


/*nav > ul > li > ul > li a:hover {
	background:rgb(204, 201, 201);
}
